@tailwind base;
@tailwind components;
@tailwind utilities;

@import './keyframes/spinner.css';
@import '../../../node_modules/leaflet/dist/leaflet.css';

@layer components {
    .flaggy-header-section {
        @apply flex items-center gap-2;
    }

    .flaggy-back-button {
        @apply absolute flex items-center justify-center transition-all duration-300 top-16 flaggy-hover-button focus:outline-none ring-opacity-0 h-9 rounded-3xl flaggy-frost;
    }

    @import './spinner.css';

    .gradient-text {
        -webkit-text-fill-color: transparent;
    }

    @media not all and (min-resolution:.001dpcm) {
        @media {
            /*
                Disable text-fill-color on safari devices: desktop and mobile
                Seems like text-fill-color doesn't work with grid template
            */
            .gradient-text {
                -webkit-text-fill-color: unset;
            }
        }
    }

    .detail-info-text {
        @apply text-transparent bg-center bg-clip-text gradient-text;
    }

    /* total width */
    body::-webkit-scrollbar {
        background-color: #fff;
        width: 16px;
    }

    /* background of the scrollbar except button or resizer */
    body::-webkit-scrollbar-track {
        background-color: #fff;
    }

    /* scrollbar itself */
    body::-webkit-scrollbar-thumb {
        background-color: #babac0;
        border-radius: 16px;
        border: 4px solid #fff;
    }

    /* set button(top and bottom of the scrollbar) */
    body::-webkit-scrollbar-button {
        display: none;
    }

    .photo-cover {
        background-image: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.34) 0,
            rgba(0, 0, 0, 0.338) 3.5%,
            rgba(0, 0, 0, 0.324) 7%,
            rgba(0, 0, 0, 0.306) 10.35%,
            rgba(0, 0, 0, 0.285) 13.85%,
            rgba(0, 0, 0, 0.262) 17.35%,
            rgba(0, 0, 0, 0.237) 20.85%,
            rgba(0, 0, 0, 0.213) 24.35%,
            rgba(0, 0, 0, 0.188) 27.85%,
            rgba(0, 0, 0, 0.165) 31.35%,
            rgba(0, 0, 0, 0.144) 34.85%,
            rgba(0, 0, 0, 0.126) 38.35%,
            rgba(0, 0, 0, 0.112) 41.85%,
            rgba(0, 0, 0, 0.103) 45.35%,
            rgba(0, 0, 0, 0.1) 48.85%,
            rgba(0, 0, 0, 0.103) 52.35%,
            rgba(0, 0, 0, 0.112) 55.85%,
            rgba(0, 0, 0, 0.126) 59.35%,
            rgba(0, 0, 0, 0.144) 62.85%,
            rgba(0, 0, 0, 0.165) 66.35%,
            rgba(5, 0, 0, 0.188) 69.85%,
            rgba(0, 0, 0, 0.213) 73.35%,
            rgba(0, 0, 0, 0.237) 76.85%,
            rgba(0, 0, 0, 0.262) 80.35%,
            rgba(0, 0, 0, 0.285) 83.85%,
            rgba(0, 0, 0, 0.306) 87.35%,
            rgba(0, 0, 0, 0.324) 90.85%,
            rgba(0, 0, 0, 0.338) 94.35%,
            rgba(0, 0, 0, 0.347) 97.85%,
            rgba(0, 0, 0, 0.35)
        );
    }
}
